<div class="content-block">
  <%= render 'confirm_show' %>
  <%= render :partial => 'confirm_form', :locals => {:current_view => "confirm"}  %>
  <%= render :partial => 'confirm_back_form', :locals => {:current_view => "confirm"} %>
</div>
