<!DOCTYPE html>

<html>
	<head>
		<title>HotPans</title>
		<link href="/assets/welcome.css" media="all" rel="stylesheet" />
	</head>
	<body>
		<div id="main_content">
			<div id="title_frame">
				<img id="title_frame_image" src="/assets/title.jpg">
				<span class="font_0" id="title_frame_text">Hot Pans</span>
			</div>

			<div id="body_images">
				<div class="body_image_group" id="body_image_group_1">
					<a href='/auth/facebook/' target='_top'><img class="body_image" id="body_image_1" src="/assets/bread1.jpg"></a>
					<span class="font_2 body_image_text"> 焼き上がりを知らせたい
						<br>
						パン屋はこちらへ </span>
				</div>

				<div class="body_image_group" id="body_image_group_2">
					<a href='<%= yakiagari_breads_path %>' target='_top'><img class="body_image" id="body_image_2" src="/assets/bread2.jpg"></a>
					<span class="font_2 body_image_text"> 焼き上がりパンを
						<br>
						食べたい人はこちらへ </span>
				</div>

				<div class="body_image_group" id="text_intro">
					<span class="font_3">パンの焼き上がり時間をスマホで！</span>
					<br>
					<br>
					<br>
					<br>
					<span class="font_7"> Hot Pansは焼きたてパンを食べたいパン好きな人向けの食べ物サイトです。
						<br>
						パン屋でたまたま焼きたてパンを見つけるのではなく、いま焼きたてパンがどのお店で売られているかを探すことが出来ます。 </span>
				</div>
			</div>

			<div id="footer_line"></div>
		</div>
	</body>
</html>

