<div class="text-success" id="notice">
	<%= notice %>
</div>
<div class="jumbotron">
	<h1>HotPansへようこそ</h1>
	<div class="bs-example">
		<% if !bread_store_manager_signed_in? %>
		<p>
			<%= link_to "お客様はこちら", yakiagari_breads_path, class: "btn btn-primary btn-lg"%>
			<%= link_to "パン屋はこちら", '/auth/facebook/', class: "btn-lg btn-facebook-login"%>
		</p>
		<% end %>	
	</div>
</div>
