<div class="center hero-unit">
	<h1>HotPansへよこそう</h1>
	<% if bread_store_manager_signed_in? %>
	<p>
		<%= link_to "パン屋リストへ", "/bread_stores" %>
	</p>
	<% end %>
	<p>
		<%= link_to "パンリストへ", "/breads" %>
	</p>
</div>