<div class="center hero-unit">
	<h1>HotPansへよこそう</h1>
	<p>
		<%= link_to "パン屋リストへ", "/bread_stores" %>
	</p>
	<p>
		<%= link_to "パンリストへ", "/breads" %>
	</p>
	<%= link_to "パン屋登録!", '/bread_stores/new', class: "btn btn-large btn-primary" %>
</div>