<% if @yakiagari_breads.empty? %>
<div class="jumbotron">
	現在、焼き上がりパンがありません。
</div>
<% else %>
<h1>焼き上がりパン</h1>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr class="success">
			<th>パン屋名</th>
			<th>パン屋住所</th>
			<th>パン名</th>
		</tr>
	</thead>
	<tbody>
		<% @yakiagari_breads.each do |bread| %>
		<% if bread.bread_store.nil? %>
		<% next %>
		<% end %>
		<tr class="active">
			<td><%= link_to bread.bread_store.name, yakiagari_breads_show_bread_store_path(bread.bread_store) %></td>
			<td><%= bread.bread_store.address%></td>
			<td><%= bread.name %></td>
		</tr>
		<%end %>
	</tbody>
</table>
<% end %>
<% if !@bread_store_id.nil? and !@bread_store.nil? %>
	<div id='content'>
		<!-- modal content -->
		<div id="basic-modal-content">
			<%= render "shared/bread_store_popup" %>
		</div>
	</div>
	<script type='text/javascript'>
		$('#basic-modal-content').modal();
	</script>
<% end %>
