/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.main-content{
  margin-top: 5em;
}
.content-block{
  min-height: 200px;
  height: auto !important;
  overflow: auto;
  margin: 1em;
  padding: 19px;
  background-color: #0d747c;
  border: 1px solid #0a565c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  display: block;
}
.float-clear{
  clear: both;
}
.float-left{
  float: left;
}
.btn-facebook-login{
  text-decoration: none;
  color: #FFFFFF;
  background-color: #0000FF;
  border-color: #0000FF;
}
.btn-facebook-login:hover{
  text-decoration: none;
  color: #FFFFFF;
  background-color: #000071;
  border-color: #000071;
}
.popup_label{
	color: #84b8d9;
}
#map{
  width: 680px;
  height: 300px;
}
